<div class="jumbotron text-center">
  <h1>Mean App</h1>
  <p>Welcome to my mean app chat application</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Her goes some text</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-cli</h3>
    <p>Her goes some text</p>
  </div>
  <div class="col-md-4">
    <h3>Socket.io</h3>
    <p>Her goes some text</p>
  </div>
</div>
